@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background-color: lightgreen;
  text-align: center;
  position: relative;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.btn_grp {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.btn_grp button {
  width: 106px;
  border-radius: 10px;
  height: 100px;
  font-size: larger;
  transition: all 0.25s ease-in-out;
}

.btn_grp2 button {
  width: 140px;
  border-radius: 10px;
  height: 100px;
  font-size: larger;
  transition: all 0.25s ease-in-out;
}

.btn_grp button:hover {
  background-color: #ffa500;
}

.btn_grp button:last-child {
  background-color: #ffa500;
}

.btn_grp2 button:hover {
  background-color: #ffa500;
}

.btn_grp2 button:last-child {
  background-color: #ffa500;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  align-items: center;
}

.nav_list {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.nav_list li {
  padding-left: 30px;
}

.main_home {
  margin: 0 auto;
  width: 80%;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  font-size: larger;
  height: 450px;
}

.main_home h4 {
  float: left;
  font-size: 30px;
}

.main_home p {
  float: left;
  text-align: justify;
}

.app_head {
  float: left;
  top: 205px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-left: 139px;
}

.main_qoute {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
}

.main_qoute p {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
